replicaCount: 3

image:
  repository: ahmedfaawzi/library-app
  tag: latest
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

service:
  type: LoadBalancer
  port: 5000

ingress:
  enabled: false

resources:
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "500m"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

postgresql:
  enabled: true
  image: "postgres:13"
  database: "library"
  username: "library_user"
  password: "library_password"
  persistence:
    enabled: true
    size: 1Gi

env:
  database_url: "postgresql://library_user:library_password@library-db-postgresql:5432/library"

imagePullSecrets:
  - name: dockerhub-secret
